{%extends "base.html"%}
{% load crispy_forms_tags %}
{%block content%}
<div class="container">
    <!-- Card -->
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card mt-5">

  <!-- Card body -->
  <div class="card-body p-3">

    <!-- Material form register -->
    <form method="post">
    {% csrf_token %}
      <p class="h4 text-center py-4">Sign up</p>
      {{ form|crispy }}

      <div class="form-group text-center">
            <button class="btn btn-info" type="submit">Sign Up</button>
        </div>
    </form>


  </div>
  <!-- Card body -->

</div>
<!-- Card -->
    <div class="border-top pt-3 mb-3">
        <small class="text-muted">
            Already have an account ? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
        </small>
    </div>
    </div>
    <div class="col-md-3"></div>
</div>


</div>
{%endblock content%}