@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
h3{
   color: white; 
   font-family: 'Open Sans', sans-serif;
}

.one
{
display:flex;
justify-content:space-between;
}

#ev
{
margin-bottom:20px;
}
.cont{
 font-family: 'Open Sans', sans-serif;
}