{%extends "base.html"%}

{%block content%}
<div class="container">
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 mt-2">
        <div class="jumbotron " style="background-color:#2471A3;letter-spacing:0.1em;">
            <h3 style="font-size:20px;  ">Welcome to the ward</h3>
            <span id="balot" style=""><i class="fas fa-vote-yea fa-2x"></i></span>

        </div>
    </div>
</div>
    <h2 id="ev" style="margin-bottom:20px;">Events</h2>
    <div class="card p-2 pl-3">
            <div class="card-metadata">
                <a class = "mr-2" href="#">three</a>
                <small class="text-muted">two</small>
            </div>
        <hr>
            <h2><a class="article-title" href="#">one</a> </h2>
            <p class="article-content">content</p>

    </div>
</div>

{%endblock content%}