{%extends "base.html"%}
{% load crispy_forms_tags %}
{%block content%}
<div class="container">
 <h2 id="ev" style="letter-spacing:0.1em;margin-top:20px;">Voters</h2>
    <a href="{% url 'newvoter' %}" class="btn btn-info mr-auto"   type="submit">UPDATE VOTERS</a>
    <hr class=" my-4">

    {%for voter in voters %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
<!--            <p>No.{{voter.id}}</p>-->
            <div class="jumbotron two mt-3 p-2">
                    <a class = "mr-2 font-weight-bold" href="{%url 'voterdetail' voter.id %}" style="color:black;">{{voter.first_name}}&nbsp;{{voter.second_name}} </a>
                    <p>{{voter.polling_station}}</p>
        </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    {% empty %}

    <div class="card p-2 pl-3">
            <div class="card-title">
                <h4 class="text-center">No Voters</h4>
            </div>
        <hr>
        <div class="card-body text-center">Add Voters <a href="#">here</a></div>
    </div>
{%endfor%}

</div>
{%endblock content%}